<% provide(:title,"Login Page") %>
<h1>Users - Login Page</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session,url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email , class: 'form-control'%>

        <%= f.label :password %>
        <%= f.password_field :password , class: 'form-control'%>

        <%= f.submit "Login", class: "btn btn-primary" %>

    <% end %>
    <br>
    <p> <%= link_to "Didn't have an account yet? Create One Here", signup_path %> </p>
    <p>  <%= link_to "Forgot Password?", new_password_reset_path %></p>
  </div>
</div>



