<% @microposts.each do |micropost| %>
<div id= "micropost-<%= micropost.id %>" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Posted <%= time_ago_in_words(micropost.created_at)%> ago
      <% if micropost.topic.present? %>
          (<%= micropost.topic.name %>)
      <% end %>
      <% if current_user?(micropost.user) %>
      <%=link_to "Delete Post", micropost ,method: :delete , :style => "color:black;float:right",data: {confirm: "Are you Sure?"}%></h3>
      <% end %>
  </div>
  <div class="panel-body">
    <div class="col-md-4">
      <%= link_to gravatar_for(micropost.user, size:10),micropost.user %>
    </div>
    <div class="col-md-8" style="font-style: oblique;font-family: sans-serif;font-size: 20px;">
      <p> <%= micropost.content %> </p>
      <% if micropost.Picture? %>
          <div class="image-align">
          <%= link_to image_tag(micropost.Picture, alt:micropost.Picture, style:"width: 100%;float:right"), (micropost.Picture.url), class:"image-link" %>
          </div>
      <% end %>
      <%= render 'ratings/rating',micropost: micropost %>
    </div>
  </div>
</div>
<% end %>