<% if @saved %>
jQuery(function(){
    jQuery('#post_create').click();
    $("#tweet-content").val("");
    $("#tweet-picture").val("");
    $("#show_feeds").html("<%= escape_javascript(render 'shared/show_feeds', microposts: @microposts)  %>");
    $("#errorDisplay").html("");
});
<% else %>
$("#errorDisplay").html("<%= escape_javascript(render 'shared/error', object: @micropost)  %>");
$("#tweet-content").val("");
<% end %>