<% provide(:title,"Forgot Password") %>
<h1>Users - Login Page</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset,url: {action: "create"}) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email , class: 'form-control'%>

        <%= f.submit "Reset Password", class: "btn btn-primary" %>

    <% end %>
    <br>

  </div>
</div>

