Hi <%= @user.name %>,

Welcome to the Sample App! Click on the link below to reset your password:

<%= edit_password_reset_url(@user.reset_token, email: @user.user) %>

If you did not request your password to be reset, please ignore this email and
your password will stay as it is.