<h1>Dobble App</h1>

<p>Hi <%= @user.name %></p>

<p>
  Welcome to the Dobble App! Click on the link below to reset your password:
</p>

<%= link_to "Reset Password", edit_password_reset_url(@user.reset_token,email: @user.user) %>


<p>
  If you did not request your password to be reset, please ignore this email and
  your password will stay as it is.
</p>