<li>
  <%= gravatar_for user, size:50 %>
  <%= link_to user.name, user %>
  <% if current_user.superadmin && !current_user?(user)  && !user.superadmin %>
      <%if user.admin? %>
         | <%= link_to " Undo Admin",makeadmin_path(:id => user.id,:status => 'undo'),method: :patch,:style => "color:green",data: {confirm: "Are you Sure?"}%>
      <% else %>
      | <%= link_to " Make Admin", makeadmin_path(:id => user.id,:status => ''), method: :patch,:style => "color:green",data: {confirm: "Are you Sure?"} %>
      | <%= link_to " Delete", user, method: :delete,:style => "color:red",data: {confirm: "Are you Sure?"} %>
      <% end %>
  <% elsif current_user.admin && !current_user?(user) && (!user.admin? && !user.superadmin?)%>  <!-- checks whether the operationg person is an admin and current user is not the user i.e, he is not deleting himself and he cannot delete other admins -->
  | <%= link_to " Delete", user , method: :delete , :style => "color:red",data: {confirm: "Are you Sure?"} %>
  <% end %>
</li>