<% provide(:title,"Edit User") %>
<% provide(:button_name,"Save Changes") %>
<h1> Update Your Profile </h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
    </div>
  </div>
</div>
