<% provide(:title,"Users") %>
<h1> All users </h1>
<%= form_tag(users_path,method: :get, id:"Search-form",style: "float:right;") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Dobble user", style: "float:left;width:initial" %>
    <%= submit_tag "Search", :name => nil, style: "float:left;width: initial;height: 24px;"%>
<% end %>
<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>            <!-- we can also use render @users -->
  <% end %>
</ul>
<%= will_paginate %>