<% provide(:title,"Signup page") %>
<% provide(:button_name,"Create my Account") %>
<h1>Users - Signup Page</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/form'%>
  </div>
</div>



