<% provide(:title ,@title) %>
<div class="row">
  <div class="col-md-4">
    <div style="float:left"><%= gravatar_for(@user,size: 10) %></div>
    <p class="show_name"><%=@user.name %>, <%= @user.micro_posts.count %> Posts</p>
  </div>
  <div class="col-md-8">
    <%= render 'shared/stats' %>
    <%if @users.any? %>
    <h3 class="follow-heading"><%= @title %></h3>
        <p style="float: right; font-size: large"><% if (@title == "Following" ) %><%= link_to "Download PDF", following_user_path(@user, :format => 'pdf'),style: "color:darkcyan" %>
              <% else %> <%= link_to "Download PDF", followers_user_path(@user, :format => 'pdf'), style: "color:darkcyan" %><% end %></p>
    <ul class="users follow">
      <% @users.each do |user| %>
        <%= render user %>
      <% end %>
    </ul>
    <%= will_paginate %>
    <% end %>
  </div>

</div>