<% provide(:title,@user.name + " Profile") %>
<div class=row">
<div class="col-md-4">
  <%= gravatar_for @user %>
  <b> <%= @user.name %></b>
</div>
<div class="col-md-8">
<table class="table">
  <thead>
  <tr>
    <th>Firstname</th>
    <th>Email</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Current Time</th>
  </tr>
  </thead>
  <tbody>
  <tr class="success">
    <td><%= @user.name %></td>
    <td><%= @user.user %></td>
    <td><%= @user.created_at %></td>
    <td><%= @user.updated_at %></td>
    <td><%= Time.now%></td>
  </tr>
  </tbody>
</table>
</div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-4">
    <%= render 'follow_form' if logged_in? %>
    <%= will_paginate @microposts %>
    <% if @microposts.any? %>
            <%= render 'micro_posts/micropost' %>
    <% end %>
    <%= will_paginate @microposts %>
  </div>
</div>