<% if object.errors.any? %>
  <div id="error-explaination">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>
    </div>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li> <%= message  %> </li>
      <%end%>
    </ul>
  </div>
<% end %>