<%= form_for(@user) do |f| %>

<%= render 'shared/error', object: f.object %>

<%= f.label :name %>
<%= f.text_field :name,class: 'form-control' %>

<%= f.label :email %>
<%= f.email_field :user,class: 'form-control' %>

<%= f.label :password %>
<%= f.password_field :password,class: 'form-control' %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation,class: 'form-control' %>

<%= f.submit yield(:button_name), class: "btn btn-primary" %>

<% end %>

