<% if defined? microposts%>
    <% @microposts = microposts %>
<% end %>
<div class="row">
  <h1 style="margin-left: 300px"><%= yield(:heading) %></h1>
  <div class="col-md-8 col-md-offset-4">
  <% if @microposts.present? %>
    <%= will_paginate @microposts %>
        <%= render 'micro_posts/micropost' %>
    <%= will_paginate @microposts %>
  <% end %>
  </div>
</div>