<% @user||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
  <strong id="following"><%= @user.following.count %></strong>
  Following
  </a>
  <a href="<%= followers_user_path(@user) %>" style="margin-left: 57%">
    <strong id="followers"><%= @user.followers.count %></strong>
    Followers
  </a>
</div>