<div class="field  rating-submit">
  <%= form_for(Rating.new, url:ratings_path,method: "post", remote: true) do |f| %>
    <div class="rating-form rating-form-<%=micropost.id%>">
      <%= hidden_field_tag "micropost_id", micropost.id%>
      <%= radio_button_tag(:star, "1") %>
      <%= label_tag(:one_star, "1") %>
      <%= radio_button_tag(:star, "2") %>
      <%= label_tag(:two_star, "2") %>
      <%= radio_button_tag(:star, "3") %>
      <%= label_tag(:three_star, "3") %>
      <%= radio_button_tag(:star, "4") %>
      <%= label_tag(:four_star, "4") %>
      <%= radio_button_tag(:star, "5") %>
      <%= label_tag(:five_star, "5") %>
      <%= f.submit "Rate", class: "btn btn-primary" %>
    </div>
    <div id="avg-ratings" class="avg-ratings-<%= micropost.id %>">
        <%= render 'ratings/avg_ratings',micropost: micropost %>
   </div>
  <% end %>

</div>