$(".rating-form-<%= @id %>").html("<h4>Thank You</h4>").fadeOut(1000);
$(".field .avg-ratings-<%= @id %>").html("<%= escape_javascript(render('ratings/avg_ratings',micropost: @micropost.reload))  %>")
