<% provide(:title, "Aboutpage") %>
<!DOCTYPE html>
<html>

<body>
<h1>This is about Page</h1>
<p> This is created by SAI RAM REDDY. You can find him <a href="http://www.sairam.esy.es"> here.</a></p>
</body>
</html>