<% provide(:title, "Helppage") %>
<div class="row">
  <h1>Contact</h1>
  <div class="col-md-5 col-md-offset-4">
    <p>Sairam reddy blog can be found at
      <a href="http://www.sairam.esy.es">SAIRAMREDDY BLOG</a></p>
  </div>
</div>
