<% if logged_in? %>
    <div class="row">
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <div id="formDiv">
      <%= form_for(@micropost,:url => micro_posts_path,:method => :post, remote: true) do |f|%>
          <div id="errorDisplay">
          <%= render 'shared/error',object: f.object %>
          </div>
          <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Whats on your mind</h3>
          </div>
          <div class="panel-body">
            <div class="col-md-2">
              <%= gravatar_for(current_user,size: 10) %>
            </div>
            <div class="col-md-10">
              <%= f.text_area :content,rows: 4, placeholder: "Compose new micropost...",id: "tweet-content" %>
              <%= f.file_field :Picture, accept: 'image/jpeg,image/gif,image/png', id: "tweet-picture" ,style:'float:left;width: 250px;height: 31px;padding-top: 3px;border-style: hidden;'%>

              <%= f.radio_button :topic_id, 1 %>
              <%= f.label :Sports %>

              <%= f.radio_button :topic_id, 2 %>
              <%= f.label :Movies%>

              <%= f.radio_button :topic_id, 3 %>
              <%= f.label :Education %>


              <%= f.radio_button :topic_id, 4 %>
              <%= f.label :Gossips%>
              <%= f.submit "Post", class: "btn btn-primary", :style=> 'width: 70px;float:right' %>

            </div>
          </div>
        </div>
      <% end %>
      </div>
     <%= render 'shared/display_modal' %>
    </div>
    <div id="show_feeds">
      <% provide(:heading,"Your Feed") %>
      <%= render 'shared/show_feeds' %>
    </div>
<% else %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Dobble</h1>
      <h2>
        A new way of connecting with people
      </h2>
      <%= link_to "Sign up Now!", signup_path, class: "btn btn-lg btn-primary" %>
      <% if @device.include? "Android"%>
      <% url = "http://play.google.com/store/apps?id=com.google.android.apps.maps" %>
      <%= link_to image_tag("icon_google_play.png") , url %>
      <% end %>
    </div>
  </div>
<h1>Developed using Rails</h1>
<p>SAIRAM REDDY BLOG
   <a href = "http://www.sairam.esy.es">BLOG</a>. He studied at <a href="http://www.sastra.edu">SASTRA</a> </p>
<%end%>

