@import "bootstrap-sprockets";
@import "bootstrap";

/*  universal  */

body{
  padding-top: 60px;
}

section{

  overflow: auto;
}

textarea{
  resize: vertical;
}

.jumbotron .h1{
  text-align: center;
  margin-bottom: 10px;
}

.jumbotron .h2
{
  margin-bottom: 10px;
}

section#images img{
  margin-right: 10px;
}
.jumbotron .btn
{
  float: right;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}


#logo:hover {
  color: #fff;
  text-decoration: none;
}

section#images img{
  display: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  background-color: gray;
  color: #777;
  a{
    color: #555;
  }
  small{
    float: left;
  }
  &:hover{
    color: #222;
  }
  ul{
    float: right;
    list-style: none;
    li{
      float: left;
      margin-left: 15px;
    }
  }
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
  /* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.panel-body{
  p{
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
  }
  .image-align{
    max-width: 115px;
  }
}

.stats
{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  strong{
    font-size: -webkit-xxx-large;
  }
}

.show_name{

  margin-left: 102px;
  font-family: cursive;
  font-size: xx-large;
  padding-top: 13px;

}
.follow-heading{

  text-align: center;
  font-family: fantasy;
  font-variant: small-caps;
  font-weight: 500;
  color: black;
  /* text-decoration: blink; */
  text-decoration: underline;
  animation: blinker 10s cubic-bezier(0, 0.03, 0.99, 0.82) infinite;

}

.rating-form {
  float: left;
  clear: none;
}

label {
  float: left;
  clear: none;
  display: block;
  padding: 2px 1em 0 0;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 2px 2px 0 2px;
  width: auto;
}

.image-align img{
  margin-bottom: 10px;
}

.rating-form input[type=submit]{
  float: right;
  width: auto;
  margin-left: 12px;
  border: 1px snow;
  border-radius: 100%;
}

#avg-ratings{
  float: right;
  color: darkgreen;
}

#avg-ratings img{
  height: 22px;
  width: 24px;
}



