<footer class="footer">
  <small>I am sairam reddy from sastra university</small>
  <nav>
    <ul>
      <li><%= link_to "about" , about_path %></li>
      <li><%= link_to "help" , help_path %></li>
      <li><%= link_to "contact", contact_path %></li>
    </ul>
  </nav>
</footer>