<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Dobble", root_path , id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "Home", root_path%></li>
        <li><%=link_to "Help", help_path%></li>
        <li><%=link_to "Topics", topics_path %></li>
        <% if logged_in? %>
            <li><%= link_to "Users" , users_path %></li>
            <div class="btn-group" style="padding-top: 8px;">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <%=  current_user.name %><span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %> </li>
                <li><%= link_to "settings" , edit_user_path(current_user) %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Logout", logout_path, method: :delete %></li>
              </ul>
            </div>
        <% else %>
            <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>