<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <% flash.each do |key,value|  %>
    <div class="container">
      <%= content_tag(:div,value,class:"alert alert-#{key}") %>
    </div>
  <%end%>
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
